# Health Prediction

In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt

## Read dataset

In [7]:
df = pd.read_csv("dataset_preprocessed.csv")
df.head()

,erbmi,ertpreat,eudrink,eueat,euexercise,eufastfd,eufdsit,euprpmel,eusoda,eugenhth,codified_bmi,codified_health
0,49.400002,60,1.0,2.0,2.0,2.0,1.0,2.0,2.0,5.0,2,2
1,31.000000,65,1.0,2.0,1.0,2.0,1.0,1.0,2.0,4.0,2,2
2,30.700001,20,1.0,1.0,1.0,1.0,1.0,2.0,1.0,3.0,2,1
3,33.299999,30,1.0,1.0,2.0,1.0,1.0,3.0,2.0,2.0,2,1
4,28.299999,80,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,2,1

# Train and test sets

In [8]:
shape_of_data = df.shape
X = df.iloc[:, 0:(shape_of_data[1]-3)] 
#X = df_revised[['euexfreq','eufastfd','eufastfdfrq','eufdsit','euffyday','eumeat','eumilk','euprpmel','eusoda']]

y = df['codified_health']
X.head()

,erbmi,ertpreat,eudrink,eueat,euexercise,eufastfd,eufdsit,euprpmel,eusoda
0,49.400002,60,1.0,2.0,2.0,2.0,1.0,2.0,2.0
1,31.000000,65,1.0,2.0,1.0,2.0,1.0,1.0,2.0
2,30.700001,20,1.0,1.0,1.0,1.0,1.0,2.0,1.0
3,33.299999,30,1.0,1.0,2.0,1.0,1.0,3.0,2.0
4,28.299999,80,1.0,2.0,2.0,1.0,1.0,1.0,1.0

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Logistic Regression

In [10]:
model = LogisticRegression()
model = model.fit(X_train, y_train)
y_pred = model.predict(X_test)
model.score(X_test, y_test)

0.844851904090268

In [11]:
target_names = ['1', '2']
print(classification_report(y_test, y_pred, target_names=target_names))

             precision    recall  f1-score   support

          1       0.85      0.99      0.91      1199
          2       0.48      0.07      0.12       219

avg / total       0.80      0.84      0.79      1418